html,
body {
    margin: 0;
    height: 100%;
}

body {
    background-color: white;
    padding: 0;
    font-family: 'Source Sans Pro', 'Arial', sans-serif;
    --side-margins: 90px;
    --body-width: calc(100vw - 180px);
    --green: #28a57c;
    --blue: #84CFD0;
    --gray-1: #3B3B3B;
    --gray-2: #5c5c5c;
    --gray-3: #B4B4B5;
    color: var(--gray-1);
}

p {
    line-height: 26px;
    font-size: 16px;
    letter-spacing: 0.3px;
    font-weight: 300;
    color: var(--gray-2);
}

h1 {
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 30px;
    fon-size: 32px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: var(--gray-1);
}

h2 {
    font-size: 25px;
    font-weight: 300;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: -3px;
    letter-spacing: 0.4px;
    text-transform: none;
    color: var(--gray-1);
}


/* -------------------------- ABOUT -----------------------------*/

#about {
    display: none;
}

.bio {
    margin-bottom: 80px;
    width: 100%;
    font-weight: 200;
}

.bio h1 {
    font-size: 45px;
    margin-left: -2px;
    line-height: 28px;
    letter-spacing: 4px;
    margin-bottom: 0px;
}

#work-preview {
    --work-preview-margins: 10px;
    --work-preview-width: calc(var(--body-width) / 2 - (var(--work-preview-margins) - 3px));
}

#work-preview ul {
    list-style: none;
    padding: 0px;
}

#work-preview li {
    display: inline-block;
    width: var(--work-preview-width);
    height: var(--work-preview-width);
}

#work-preview .img-container {
    overflow: hidden;
    width: var(--work-preview-width);
    height: var(--work-preview-width);
    position: relative;
}

#work-preview img {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    max-height: var(--work-preview-width);
}

#work-preview img:hover {
    opacity: 0.8;
}

#work-preview li:nth-child(1) {
    margin-right: var(--work-preview-margins);
}

.see-more {
    font-family: 'Lato', 'Arial', sans-serif;
    color: var(--gray-1);
    text-transform: uppercase;
    font-weight: 400;
    padding: 10px;
    letter-spacing: 0.5px;
}

#resume-preview p {
    margin-top: -20px;
}


/* -------------------------- RESUME -----------------------------*/

#resume {
    display: none;
}

#resume h1 {
    color: var(--green);
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 0px;
}

.circle {
    width: 12px;
    height: 12px;
    background: #28a57c;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

.empty-circle {
    width: 10px;
    height: 10px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: solid 1px #28a57c;
}

.half-circle {
    height: 10px;
    width: 5px;
    border-radius: 90px 90px 0 0;
    -moz-border-radius: 90px 90px 0 0;
    -webkit-border-radius: 90px 0 0 90px;
    background: green;
}

.skills {
    width: 420px;
    font-weight: 300;
    margin-bottom: 18px;
    letter-spacing: 0.4px;
}

.skills td {
    padding-bottom: 4px;
}


/* -------------------------- CONTENT -----------------------------*/

.content {
    position: relative;
    width: var(--body-width);
    margin: 200px 0px 100px var(--side-margins);
}


/* -------------------------- HEADER/NAV -----------------------------*/


/* nav ul */

#menu {
    list-style: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin: 0 auto;
    display: inline-block;
}

#menu-container {
    width: 100%;
    margin-top: 65px;
    /* change to center */
    text-align: right;
    margin-left: calc(0px - var(--side-margins));
    coor: var(--gray-1);
}

.logo {
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    left: 0;
    float: left;
    margin-left: var(--side-margins);
}

.logo:nth-child(1) {
    display: none;
}

.logo:nth-child(2) {
    padding-left: 0;
    font-family: 'Lato';
    font-weight: 400;
    marin-left: 140px;
    border: none;
    font-size: 27px;
    margin-top: -3px;
    text-align: left;
    line-height: 8px;
    dispay: none;
    coor: var(--green);
}

.logo:nth-child(3) {
    font-family: 'Lato';
    margin-left: 220px;
    border: none;
    fot-size: 12px;
    margin-top: -12px;
    text-align: left;
    line-height: 13px;
    display: none;
}

.logo:nth-child(4) {
    font-family: 'Lato';
    margn-left: 220px;
    border: none;
    font-size: 16px;
    margin-top: -12px;
    text-align: left;
    line-height: 15px;
    display: none;
}

.logo:nth-child(2) .date {
    fnt-size: 11px;
}

.logo:nth-child(2):hover {
    color: var(--gray-1);
    background-color: rgba(0, 0, 0, 0);
}

nav li:hover,
.expand,
.close,
#work img,
.see-more span,
#work-preview img {
    cursor: pointer;
    /* cursor: hand;*/
}

nav li:hover,
.visit a:hover {
    color: white;
    background-color: var(--gray-1);
}

nav li {
    float: left;
    border: 1px solid var(--gray-1);
    padding: 15px 25px 15px 25px;
    margin-left: 30px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    /* user-select: none; */
}

.s860 {
    padding: 12px 17px 12px 17px;
    font-size: 11px;
    margin: 7px 0px 0px 20px;
}

.s860:nth-child(1) {
    padding: 12px;
    margin-left: var(--side-margins);
}

.s730 li:nth-child(1) {
    boder: none;
    dislay: none;
}

.s730 {
    tex-align: center;
    margn-left: 0px;
}

.active-nav {
    color: white;
    background-color: var(--gray-1);
}

.active-nav a {
    color: white;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 130px;
    backgrond-color: #f2f2f2;
}


/* -------------------------- FOOTER -----------------------------*/

#footer {
    backround-color: #f2f2f2;
}

#footer td,
#footer a {
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    color: var(--gray-1);
    letter-spacing: 0.4px;
    text-decoration: none;
}

#footer table {
    margin: auto;
    margin-top: 2px;
}

#footer img {
    height: 40px;
}

#footer img,
a,
.expand p,
nav li,
body,
.close,
.see-more span,
#work-preview img {
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
}

.media-icons td {
    padding: 29px 27px 10px 27px;
}


/* Keep footer aligned with footer hover */

.media {
    margin-top: -92px;
}

.media tr td img:hover {
    opacity: 0;
}

.media a:hover,
.expand a:hover,
.close:hover,
.see-more span:hover {
    opacity: 0.1;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -160px;
}

#footer,
.push {
    height: 130px;
}


/* -------------------------- WORK -----------------------------*/


/*
#work {
    --entry-margins: 10px;
    --entry-width: calc((var(--body-width) - 2 * var(--entry-margins)) / 3 - 3px);
}

#work .img-container {
    position: relative;
    width: var(--entry-width);
    height: calc(var(--entry-width) / 1.37);
    overflow: hidden;
}

#work img {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    max-height: calc(var(--entry-width) / 1.37);
}

#work video {
    display: none;
}

#work iframe {
    display: none;
}

.shadow {
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.03) inset;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.0);
    position: absolute;
    overflow: hidden;
    z-index: 100;
}

#work ul {
    padding: 0px;
    list-style: none;
}

.s724 li {
    with: calc(var(--body-width)/2 - 10px);
    width: 800px;
    height: calc(var(--entry-width) / 0.86);
    min-height: 364px;
    backgrond-color: red;
}

#work li {
    width: var(--entry-width);
    height: calc(var(--entry-width) / 0.86);
    min-height: 364px;
    display: inline-block;
    margin-bottom: calc(var(--entry-width) / 6);
    margin-top: 30px;
}

.entry {
    height: 100%;
}

.expand {
    font-size: 10px;
    letter-spacing: 0.5px;
    font-family: 'Lato', 'Arial', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

#work li:nth-child(3n+1) {
    margin-right: var(--entry-margins);
}

#work li:nth-child(3n+3) {
    margin-left: var(--entry-margins);
}

.date {
    font-family: 'Source Sans Pro', 'Arial', sans-serif;
    font-size: 12px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: -6px;
}

.small {
    font-family: 'Source Sans Pro', 'Arial', sans-serif;
    font-size: 13.2px;
    color: var(--gray-3);
    font-weight: 300;
    letter-spacing: 0.8px;
    line-height: 19px;
}

.extra {
    display: none;
}

.visit a {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 12px;
    color: var(--gray-1);
    text-decoration: none;
    border: 1px solid var(--gray-1);
    padding: 15px 25px 15px 25px;
}

.visit {
    display: none;
    margin-top: 50px;
}

*/

#work {
    --entry-margins: 10px;
    --entry-width: calc((var(--body-width) - 2 * var(--entry-margins)) / 3 - 3px);
}

#work .img-container {
    position: relative;
    width: var(--entry-width);
    height: calc(var(--entry-width) / 1.37);
    overflow: hidden;
}

#work img {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    max-height: calc(var(--entry-width) / 1.37);
}

#work video {
    display: none;
}

#work iframe {
    display: none;
}

#work ul {
    padding: 0px;
    list-style: none;
}

.s724 li {
    with: calc(var(--body-width)/2 - 10px);
    width: 800px;
    height: calc(var(--entry-width) / 0.86);
    min-height: 364px;
    backgrond-color: red;
}

#work li {
    width: var(--entry-width);
    height: calc(var(--entry-width) / 1.37);
    display: inline-block;
    margin-bottom: var(--entry-margins);
    margin-top: calc(var(--entry-margins) - 6px);
}

.entry {
    height: 100%;
}

.expand {
    font-size: 10px;
    letter-spacing: 0.5px;
    font-family: 'Lato', 'Arial', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

#work li:nth-child(3n+1) {
    margin-right: var(--entry-margins);
}

#work li:nth-child(3n+3) {
    margin-left: var(--entry-margins);
}

.date {
    font-family: 'Source Sans Pro', 'Arial', sans-serif;
    font-size: 12px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: -6px;
}

.small {
    font-family: 'Source Sans Pro', 'Arial', sans-serif;
    font-size: 13.2px;
    color: var(--gray-3);
    font-weight: 300;
    letter-spacing: 0.8px;
    line-height: 19px;
}

.extra {
    display: none;
}

.visit a {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 12px;
    color: var(--gray-1);
    text-decoration: none;
    border: 1px solid var(--gray-1);
    padding: 15px 25px 15px 25px;
}

.visit {
    display: none;
    margin-top: 50px;
}

#work .small,
#work .date,
#work .expand,
#work h2 {
    display: none;
}


/* -------------------------- PORTFOLIO EXPAND ----------------------*/

#overlay {
    display: none;
    background-color: rgba(255, 255, 255, .95);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    font-weight: 200;
    --width: 80vw;
    --width-img: calc(var(--width)*.66);
    z-index: 100;
}

#overlay .container {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    display: table-cell;
    vertical-align: middle;
}


/* DEFAULT (WIDE) ENTRY CSS */

#overlay .entry-container {
    width: 85vw;
    position: relative;
    margin: auto;
}

#overlay .img-container {
    display: inline-block;
    with: calc(.66 * 85vw);
    width: 66%;
    text-align: center;
}

#overlay .desc-container {
    padding-left: 20px;
    margin-top: -5 px;
    vertical-align: top;
    display: inline-block;
    widh: calc((.33 * 85vw) - 20px);
    width: calc(33% - 20px);
}

#overlay img {
    width: 100%;
    max-width: 100%;
}

#overlay video {
    width: 100%;
    max-width: 100%;
}

#overlay iframe {
    width: 100%;
    height: 80vh;
    max-width: 100%;
}


/* CSS FOR TALL ENTRIES */

#overlay .tall-entry-container {
    display: inline-block;
    position: relative;
    margin: 0 auto;
    top: 40.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#overlay .tall-img-container {
    display: inline-block;
}

#overlay .tall-desc-container {
    padding-left: 20px;
    margin-top: -5 px;
    vertical-align: top;
    display: inline-block;
    width: 250px;
}

#overlay .tall-img {
    height: 80vh;
    width: auto;
    min-width: 100%;
}

#overlay .tall-video {
    width: 100%;
    max-width: 100%;
}


/*****************************/

.close {
    top: 0;
    right: 0;
    margin: 40px 45px 0px 0px;
    position: absolute;
    color: black;
    text-align: center;
    font-size: 10px;
    letter-spacing: 0.5px;
    font-family: Lato, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}