html,
body {
    margin: 0;
    height: 100%;
}

body {
    background-color: white;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    --side-margins: 90px;
    --body-width: calc(100vw - 180px);
}

p {
    line-height: 22px;
    font-size: 15px;
    letter-spacing: 0.2px;
    color: #5c5c5c;
}

h1 {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2.5px;
    margin-bottom: 10px;
}

h2 {
    font-family: 'Source Sans Pro', 'Arial', sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: -3px;
    letter-spacing: 0.4px;
    text-transform: none;
    color: #333333;
}


/* -------------------------- HOME -----------------------------*/

.banner {
    background-olor: #1CB5E8;
    width: 100vw;
    height: 250px;
    margin-top: 130px;
    text-align: center;
}

.intro {
    font-size: 50px;
    line-height: 50px;
    font-weight: 600;
    coor: white;
    text-transform: uppercase;
}

.description {
    font-size: 16px;
    width: 360px;
    margin-top: -40px;
    font-weight: 200;
    letter-spacing: 0.2px;
    coor: white;
}

.home-content {
    /* Add 60 bc border spacing is 20 */
    width: 920px;
    border-spacing: 40px;
    margin: auto;
    /* Offset */
    margin-left: -10px;
    margin-bottom: -90px;
    text-align: center;
    margin-top: -205px;
}

.home-content td {
    /* 450 - border-spacing */
    width: 410px;
    height: 320px;
    background-color: white;
    padding: 35px;
    vertical-align: top;
}

.home-content p {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.5px;
}

.home-content h1 {
    color: #28a57c;
}

.expand {
    font-size: 9px;
    letter-spacing: 0.5px;
    font-family: Lato, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}


/* -------------------------- RESUME -----------------------------*/

#resume {
    display: none;
}

#resume h1 {
    /* green */
    color: #28a57c;
    /* blue 
    color: #84CFD0;*/
}

.circle {
    width: 12px;
    height: 12px;
    background: #28a57c;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

.empty-circle {
    width: 10px;
    height: 10px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: solid 1px #28a57c;
}

.half-circle {
    height: 10px;
    width: 5px;
    border-radius: 90px 90px 0 0;
    -moz-border-radius: 90px 90px 0 0;
    -webkit-border-radius: 90px 0 0 90px;
    background: green;
}

.skills {
    width: 420px;
    font-weight: 300;
    margin-bottom: 18px;
    letter-spacing: 0.4px;
}

.skills td {
    padding-bottom: 4px;
}

#resume .small {
    font-size: 13px;
}


/* -------------------------- CONTENT -----------------------------*/

.content {
    position: relative;
    width: 900px;
    left: 50%;
    margin-left: -450px;
    margin-top: 130px;
    padding: 80px 0px 80px 0px;
}


/* -------------------------- HEADER/NAV -----------------------------*/


/* nav ul */

#menu {
    list-style: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin: 0 auto;
    display: inline-block;
}

#menu-container {
    width: 100%;
    margin-top: 65px;
    /* change to center */
    text-align: right;
    margin-left: calc(0px - var(--side-margins));
    coor: #333333;
}

.name {
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    left: 0;
    float: left;
    margin-left: var(--side-margins);
}

nav li:hover,
.expand,
.close,
#portfolio img,
#portfolio .shadow {
    cursor: pointer;
    /* cursor: hand;*/
}

nav li:hover, .visit a:hover {
    color: white;
    background-color: #333333;
}

nav li {
    float: left;
    border: 1px solid #333333;
    padding: 15px 25px 15px 25px;
    margin-left: 30px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    /* user-select: none; */
}

.active-nav {
    color: white;
    background-color: #333333;
}

.active-nav a {
    color: white;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 130px;
    backgound-color: #f2f2f2;
}


/* -------------------------- FOOTER -----------------------------*/

#footer {
    backround-color: #f2f2f2;
}

#footer td,
#footer a {
    font-size: 12px;
    font-weight: 200;
    text-align: center;
    color: #333333;
    letter-spacing: 0.4px;
    text-decoration: none;
}

#footer table {
    margin: auto;
    margin-top: 2px;
}

#footer img {
    height: 40px;
}

#footer img,
a,
.expand p,
nav li,
body,
.close {
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
}

.media-icons td {
    padding: 29px 25px 10px 25px;
}


/* Keep footer aligned with footer hover */

.media {
    margin-top: -92px;
}

.media tr td img:hover {
    opacity: 0;
}

.media a:hover,
.expand a:hover,
.close:hover {
    opacity: 0.1;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -160px;
}

#footer,
.push {
    height: 130px;
}


/* -------------------------- PORTFOLIO -----------------------------*/

.bio h1 {
    line-height: 15px;
}

.bio {
    margin-top: -40px;
    margin-bottom: 60px;
    width: 100%;
    font-weight: 200;
}

#portfolio {
    display: none;
    --entry-margins: 35px;
    --entry-width: calc((var(--body-width) - 2 * var(--entry-margins)) / 3 - 3px);
}

#portfolio .img-container {
    position: relative;
    width: var(--entry-width);
    height: calc(var(--entry-width) / 1.37);
    overflow: hidden;
    box-shaow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

#portfolio img {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    max-height: calc(var(--entry-width) / 1.37);
}

#portfolio video {
    display: none;
}

#portfolio iframe {
    display: none;
}

.shadow {
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.03) inset;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.0);
    position: absolute;
    overflow: hidden;
    z-index: 100;
}

#portfolio .content {
    position: relative;
    width: var(--body-width);
    pading-top: 60px;
    margin-left: calc(-50% + var(--side-margins));
}

#portfolio ul {
    padding: 0px;
    list-style: none;
}

#portfolio li {
    width: var(--entry-width);
    height: calc(var(--entry-width) / 0.75);
    min-height: 360px;
    display: inline-block;
    margin-bottom: calc(var(--entry-width) / 6);
    margin-top: 30px;
}

.entry {
    height: 100%;
}

#portfolio li:nth-child(3n+1) {
    margin-right: var(--entry-margins);
}

#portfolio li:nth-child(3n+3) {
    margin-left: var(--entry-margins);
}

.date {
    font-family: 'Source Sans Pro', 'Arial', sans-serif;
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #6E6E70;
    font-weight: 200;
    margin-bottom: -6px;
}

.small {
    font-family: 'Source Sans Pro', 'Arial', sans-serif;
    font-size: 13px;
    color: #B4B4B5;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 19px;
}

.extra {
    display: none;
}

.visit a {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 12px;
    color: #333333;
    text-decoration: none;
    border: 1px solid #333333;
    padding: 15px 25px 15px 25px;
}

.visit {
    display: none;
    margin-top: 50px;
}



/* -------------------------- PORTFOLIO EXPAND ----------------------*/

#overlay {
    display: none;
    background-color: rgba(255, 255, 255, .95);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    font-weight: 200;
    --width: 80vw;
    --width-img: calc(var(--width)*.66);
    z-index: 100;
}

#overlay .container {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    display: table-cell;
    vertical-align: middle;
}


/* DEFAULT (WIDE) ENTRY CSS */

#overlay .entry-container {
    width: 85vw;
    position: relative;
    margin: auto;
}

#overlay .img-container {
    display: inline-block;
    with: calc(.66 * 85vw);
    width: 66%;
    text-align: center;
}

#overlay .desc-container {
    padding-left: 20px;
    margin-top: -5 px;
    vertical-align: top;
    display: inline-block;
    widh: calc((.33 * 85vw) - 20px);
    width: calc(33% - 20px);
}

#overlay img {
    width: 100%;
    max-width: 100%;
}

#overlay video {
    width: 100%;
    max-width: 100%;
}

#overlay iframe {
    width: 100%;
    height: 80vh;
    max-width: 100%;
}


/* CSS FOR TALL ENTRIES */

#overlay .tall-entry-container {
    display: inline-block;
    position: relative;
    margin: 0 auto;
    top: 40.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#overlay .tall-img-container {
    display: inline-block;
}

#overlay .tall-desc-container {
    padding-left: 20px;
    margin-top: -5 px;
    vertical-align: top;
    display: inline-block;
    width: 250px;
}

#overlay .tall-img {
    height: 80vh;
    width: auto;
    min-width: 100%;
}

#overlay .tall-video {
    width: 100%;
    max-width: 100%;
}


/*****************************/

.close {
    top: 0;
    right: 0;
    margin: 40px 45px 0px 0px;
    position: absolute;
    color: black;
    text-align: center;
    font-size: 9px;
    letter-spacing: 0.5px;
    font-family: Lato, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}